# OpenOCD config for Raspberry Pi Debug Probe (CMSIS-DAP) to program Pico
# Compatible with OpenOCD 0.12+ (adapter usb vid_pid was removed).
adapter driver cmsis-dap
adapter speed 1000
transport select swd
source [find target/rp2040.cfg]
init
